[mysqld]
secure-file-priv= NULL
default_authentication_plugin = mysql_native_password
[innodb]
innodb_buffer_pool_size        = 256M
innodb_log_file_size           = 256M
innodb_thread_concurrency      = 16
innodb_flush_log_at_trx_commit = 2
innodb_use_native_aio	       = 0
innodb_flush_method            = normal
