{% extends 'Template.twig' %}

{% block content %}
    <div class="section header white">
        <div class="background">
            <img src="http://placehold.it/1440x900" alt="">
        </div>
        <div class="header-wrapper row valign-wrapper">
            <div class="col s12 m6 offset-m3 valign">
                <h1>Notre Matos</h1>
                <span class="tagline">Nous travaillons quotidiennement à l'amélioration et l'entretien de notre parc son et lumière. Découvrez ce que nous avons !</span>
            </div>
        </div>
    </div>

    <div class="section white full-height">
        <div class="row valign">
            <div class="col s12 m10 offset-m1 team">

                <div class="row">
                    <div class="col s12 l3 center-on-small-only">
                        <h3 class="section-title">Son</h3>
                    </div>

                    <div class="col s12 l9">
                        <div class="row">

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                    <span class="avatar">
                      <img src="http://placehold.it/256x256" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Jane Doe</span>
                                    <span class="title">Founder</span>
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                    <span class="avatar">
                      <img src="http://placehold.it/256x256" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">John Chang</span>
                                    <span class="title">Head of Sales</span>
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                    <span class="avatar">
                      <img src="http://placehold.it/256x256" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Charlotte Smith</span>
                                    <span class="title">Lead Sales</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="divider"></div>
                    </div>
                    <div class="col s12 l3 center-on-small-only">
                        <h3 class="section-title">Lumières</h3>
                    </div>

                    <div class="col s12 l9">
                        <div class="row">

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                    <span class="avatar">
                      <img src="http://placehold.it/256x256" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Jane Doe</span>
                                    <span class="title">Frontend Engineer</span>
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                    <span class="avatar">
                      <img src="http://placehold.it/256x256" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">John Chang</span>
                                    <span class="title">Backend Engineer</span>
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                    <span class="avatar">
                      <img src="http://placehold.it/256x256" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Charlotte Smith</span>
                                    <span class="title">Database Engineer</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col s12">
                        <div class="divider"></div>
                    </div>
                    <div class="col s12 l3 center-on-small-only">
                        <h3 class="section-title">Régie</h3>
                    </div>

                    <div class="col s12 l9">
                        <div class="row">

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                    <span class="avatar">
                      <img src="http://placehold.it/256x256" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Jane Doe</span>
                                    <span class="title">Motion Designer</span>
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                    <span class="avatar">
                      <img src="http://placehold.it/256x256" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">John Chang</span>
                                    <span class="title">Interaction Designer</span>
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="avatar-wrapper">
                    <span class="avatar">
                      <img src="http://placehold.it/256x256" alt="">
                    </span>
                                </div>
                                <div class="avatar-name">
                                    <span class="name">Charlotte Smith</span>
                                    <span class="title">Senior Designer</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}